/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
//以上為 css reset
body {
  font-family: Noto Sans, sans-serif;
  // 無論字體為何，都要備著 sans-serif (無襯線字體），確保所有裝置都能正確瀏覽唷。
}
.container {
  max-width: 1296px;
  margin: 0 auto;
  // 通常只會有這兩項
  padding-left: 12px;
  padding-right: 12px;
  // 可以預留左右空間
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
      margin-bottom: 80px;
      img {
        width: 636px;
        height: 400px;
        margin-bottom: 16px;
        border-radius: 8px;
        display: block;
        outline: solid #f0f0f0;
      }
      .content {
        margin-left: 16px;
        h2 {
          font-size: 28px;
          font-weight: 700;
          line-height: 1.2;
          margin-bottom: 8px;
        }
        p {
          // font-size: 16px;
          // line-height: 1.5;
          // 系統預設
          font-weight: 400;
          margin-bottom: 24px;
          color: #919191;
        }
        .tag {
          display: flex;
          justify-content: start;
          li {
            // font-size: 16px;
            // line-height: 1.5;
            // 系統預設
            font-weight: 400;
            background-color: #f1f1f1;
            padding: 4px 12px;
            margin-right: 16px;
            border-radius: 16px;
          }
        }
      }
    }
  }
}
